@font-face {
    font-family: 'Source Code Pro';
    src: url('./SourceCodePro-Regular.ttf') format('truetype');
}


body {
    font-family: 'Source Code Pro', monospace;
    margin: 5rem 7rem 5rem 7rem;
    white-space: nowrap;
}

@media (max-width: 1200px) {
    body{
        margin: 1rem !important;
        font-size: 0.8em !important;
    }
    canvas {
        border: 0.1rem solid grey !important;
        width: 18rem !important;
        height: 6rem !important;
    }
    .gif1 {
        width: 10rem !important;

    }
    .gif2 {
        width: 7rem !important;
    }
    .pad50{
        padding-bottom: 0 !important;
    }
    #7div{
        margin-left: 50% !important;
    }

}

.gif1{
    width: 20rem;
    margin: 5rem 0 0 0;
}

.gif2{
    position: fixed;
    cursor: pointer;
    top: 70%;
    left: 60%;
    width: 12rem;
}

.pad50 {
    padding-bottom: 30rem ;
}

.mt {
    margin-top: 8rem;
}

p{
    line-height: 1rem;
}

h1 {
    margin: 0 30% 3.5rem 30%;
    text-align: center;
    background: rgb(184,175,224);
    background: linear-gradient(90deg, rgba(184,175,224,1) 0%, rgba(122,118,203,1) 51%, rgba(67,84,147,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lgth{
    text-decoration: line-through;
    text-decoration-color: white;
}
svg {
    width: 5px;
    height: 5px;
    vertical-align: bottom;
}
.canvas{
    border: 0.3rem solid grey;
    width: 25rem;
    height: 10rem;
    z-index: 50;
    position: absolute;
}

li {
    list-style: none;
    display: inline-block;
}

.cen-can{
    left: 12rem;
}
div {
    margin-bottom: 5rem;
}

.lm {
    margin-left: 1rem;

}

.rm{
    margin-right: 1rem;
}

.right-100 {
    margin-left: 55%;
}

.left-100 {
}

.right-80 {
    margin-left: 50%;
}

.left-80 {
    margin-left: 4%;
}

.center {
    margin-left: 20%;
}

.cursive{
    font-style: italic;
}


.cards .container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: flex-end;
    gap: 5rem;
    /*position: absolute;*/
}

.cards .drop {
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: absolute;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.1),
    25px 35px 20px rgba(0, 0, 0, 0.1), 25px 30px 30px rgba(0, 0, 0, 0.1),
    inset -20px -20px 25px rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
    padding: 4rem;
    transition: border-radius 0.5s;
    overflow: hidden;
    text-align: center;
    animation: drop 2s infinite alternate ease-in-out;
}

.cards .drop:nth-child(1) {
    border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
}

.cards .drop:nth-child(2) {
    border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
}

.cards .drop:nth-child(3) {
    border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
}

@keyframes drop {
    from {
        border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
    }

    to {
        border-radius: 50%;
    }
}

.cards .drop::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 75px;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
}

.cards .drop::after {
    content: "";
    position: absolute;
    top: 90px;
    left: 100px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
}

.read-btn {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: inherit;
    color: inherit;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .cards .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .cards .container {
        grid-template-columns: 1fr;
    }
}

/*dev*/
br{
    margin-bottom:  1000000px;
}