@font-face {
    font-family: 'Source Code Pro';
    src: url('./SourceCodePro-Regular.ttf') format('truetype');
}


body {
    font-family: 'Source Code Pro', monospace;
    margin: 5rem;
    background-image: url("background.png");
    background-repeat: no-repeat;
    white-space: nowrap;
}

.gif1{
    position: absolute;
    width: 20rem;
    height: auto;
    margin: 3rem 0 0 10rem;
}

.gif2{
    position: absolute;
    width: 20rem;
    height: auto;
    margin: 0 0 0 10rem;
}

.pad50 {
    padding-bottom: 30rem ;
}

.mt {
    margin-top: 8rem;
}

p{
    line-height: 0.5rem;
    /* delete (dev)*/
    /*white-space: nowrap;*/
}

h1 {
    margin-bottom: 3.5rem;
    text-align: center;
    background: rgb(9,121,96);
    background: radial-gradient(circle, rgba(9,121,96,1) 15%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lgth{
    text-decoration: line-through;
    text-decoration-color: white;
}
svg {
    width: 5px;
    height: 5px;
    vertical-align: bottom;
}
.canvas{
    border: 0.3rem solid grey;
    width: 25rem;
    height: 10rem;
    z-index: 50;
    position: absolute;
}

.cen-can{
    left: 12rem;
}
div {
    margin-bottom: 5rem;
}

.lm {
    margin-left: 1rem;

}

.rm{
    margin-right: 1rem;
}

.right-100 {
    margin-left: 55%;
}

.left-100 {
}

.right-80 {
    margin-left: 50%;
}

.left-80 {
    margin-left: 4%;
}

.center {
    margin-left: 25%;
}

.cursive{
    font-style: italic;
}

/*dev*/
br{
    margin-bottom:  1000000px;
}